.groups
  - current_user.groups.each do |group|
    .group
      = link_to group_messages_path(group) do
        .groups__name
          = group.name
        .groups__text
          = group.show_last_message
