.contents-header
  .contents-header-left
    .contents-header-left__name
      = @group.name

    .contents-header-left__text
      = "Member :"
      - @members.each do |member|
        = member.user[:name]
 
  .contents-header-right
    .contents-header-right__edit
      = link_to "Edit", ""

