.contents-header
  .contents-header-left
    .contents-header-left__name
      = "Sampleグループ"

    .contents-header-left__text
      = "メンバーの名前"
 
  .contents-header-right
    .contents-header-right__edit
      = link_to "Edit", ""

