.middle-contents__right__message{data: {id: message.id}}
  .middle-contents__right__message.upper
    .middle-contents__right__message__name
      = message.user.name
    .middle-contents__right__message__date
      = message.created_at.to_s(:datetime)
  .middle-contents__right__message.lower
    -if message.text.present?
      .middle-contents__right__message__text
        = message.text
    = image_tag message.image.url, class: 'message__image' if message.image.present?


