.message{data: {id: message.id}}
  .upper-message
    .message__name
      = message.user.name
    .message__date
      = message.created_at.to_s(:datetime)
  .lower-message
    -if message.text.present?
      .message__text
        = message.text
    = image_tag message.image.url, class: 'message__image' if message.image.present?

