!!!
%html
  %head
    .body
      .side-block
        = render partial: "messages/side-block"
      .contents
        .contents-header
          = render partial: "messages/header"
          .contents-message
            = render partial: "messages/message"
          .contents-form
            = render partial: "messages/form"

