.bottom-contents{
  height: 100px;
  &__left{
    background-color: #2f3e51;
    height: 100%;
    width: 300px;
    float: left;
  }
  &__right{
    float: right;
    height: calc(100% - 40px);
    width: calc(100% - 380px);
    padding: 20px 40px;
    background-color: $form-gray;
    vertical-align: center;
    &__text-field{
      font-size: 16px;
      background-color: $white;
      color: $black;
      height: 50px;
      width: calc(100% - 200px);
      padding: 0 45px 0 20px;
      float: left;
      border: none;
    }
    &__image-label{
      height: 50px;
      width: 40px;
      float: left;
      background-color: $white;
    }
    .image-icon{
      color: gray;
      line-height: 50px;
    }
    .hidden{
      display: none;
    }
    &__submit{
      height: 50px;
      width: 80px;
      color: $white;
      float: left;
      background-color:  $light-blue;
      border: none;
    }
  }
}
