
.contents-header{
  height: 100px;
  background-color: white;
  padding:0 40px;
  position: fixed;
  top: 0;
  right:0;
  left:300px;
  .contents-header-left{
    float: left;
    &__name{
     color: $black;
      font-weight: bold;
      padding-top: 35px;
      padding-bottom: 5px;
      font-size: 20px;
    }
    &__text{
      color: $font-gray;
      font-size: 12px;
    }
  }
  .contents-header-right{
    float: right;
    &__edit{
      margin-top: 28px;
      padding: 0 20px;
      height: 40px;
      border: solid 2px $light-blue;
      line-height: 40px;
      a{
        text-decoration: none;
        color: $light-blue;
        vertical-align: middle;
      }
    }
  }
}




