.user{
  height: 100px;
  width: 260px;
  background-color: #253141;
  padding: 0 20px;
  position: fixed;
  left: 0px;
  &__name{
    color: $white;
    font-size: 16px;
    font-weight: bold;
    line-height: 100px;
    float: left;
  }
  .icon{
  color: $white;
  float: right;
  line-height: 100px;
  padding: 0 5px;
  }

}
.groups{
    margin-top: 100px;
  .group{
    padding: 40px 20px;
    color: $white;
    &__name{
      font-size: 15px;
      padding-bottom: 5px;
    }
    &__text{
      font-size: 11px;
    }
  }
}
