@import 'font-awesome';
@import './reset';
@import './variable';
@import './user';
@import './groups';
@import './flash';
@import './top-contents';
@import './middle-contents';
@import './bottom-contents';

// .notice{
//   width: 100vw;
//   height: 30px;
//   background-color: $light-blue;
//   z-index:3;
//   position: fixed;
//   top:0; 
//   font-size: 16px;
//   color: $white;
//   text-align: center;
//   line-height: 30px;
// }

.body{
  height: 100vh;
}

.border{
  border-bottom: solid 2px #eeeeee;
  clear: both;
}

i{
  color: $white;
}
