
@import "font-awesome";
@import "./reset";
@import "./variable";
@import "./side-block";
@import "./header";
@import "./message";
@import "./form";


.body{
  height: 100vh;
}

.border{
  border-bottom: solid 2px #eeeeee;
  clear: both;
  margin-bottom: 6px;
  }

i{
  color: $white;
}
.contents-form{
    height: 50px;
    width: calc(100% - 380px);
    padding: 20px 40px;
    background-color: $form-gray;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contents-message{
  padding-top: 100px;
}

.contents{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $back-gray;
  padding-bottom: 90px;
  float: right;
  overflow-y:scroll;
}





